html,
body {
  font-size: $uni-font-size-lg;
}


/* 修复uni-ui 组件样式 */
.uni-forms {
  .uni-forms-item {

    // 不设置label的时候，设置label块隐藏
    .uni-forms-item__label.no-label {
      display: none;
    }
  }
}


.uni-table {
  .uni-table-loading {
    height: 200px !important;
    line-height: 200px !important;
  }
}

.uni-date {
  line-height: 1;

  .uni-date-editor {
    .uni-date-single {
      .icon-calendar {
        padding: 0 5px;
      }
    }

    .uni-date__icon-clear {
      padding-right: 5px !important;

      .uniui-clear {
        font-size: 24px !important;
      }
    }

    .uni-date-editor--x__disabled{
      opacity: unset;
      .uni-date-x{
        background-color: #f7f6f6;
        color: #333;
      }
    }
  }
}

.uni-popup-dialog {
  .uni-dialog-content {
    overflow: auto;
  }
}


.uni-easyinput {
  .uni-easyinput__content {
    line-height: 1;
  }
}

.uni-stat__select{
  .uni-select--disabled{
    background-color: #f7f6f6 !important;
  }
}

.no-data{
  text-align: center;
  font-size: 32px;
  padding: 100px 0;
  color: #999;
}

uni-button{
  line-height: 2.5em !important;
  &[size='mini']{
    line-height: 2.3em !important;
  }
}
